<!--Header-->
  <header>
    <div class="container">
      <div class="col-md-12 col-sm-12">
        <a href="" class="logo"></a>
        <h1>La guía más completa de Costa Rica</h1>
      </div>
    </div>
  </header>
<!--/Header-->

<!--Main Section-->
<section class="main-section">
  <!--Container--> 
  
  <div class="container" id="mainMenu">
    
      <div class="row">

          <a class="list-group-item active text-center btn_zona col-xs-4 thumbnail">
            <span class="glyphicon glyphicon-map-marker "></span>Buscar por Zona
           </a>

          <a href="#" class="list-group-item text-center btn_precio  col-xs-4 thumbnail">
            <span class="glyphicon glyphicon-usd"></span>Buscar por Precio
          </a>

      </div><!--List Group-->

  </div>

  <div class="container" id="mainMenu">
    <div class="col-md-12 col-sm-12 subsections">
        <div class="row">
          <!--Main Menu Tab List-->

            <!-- Price Content -->
            <div class="viva-tab-content" id="price">
                <div class="tab-submenu col-md-2 col-sm-2">
                    <div class="row">

                        <div class="list-group" id="sideMenu">
                         
                        </div><!--List Group-->

                    </div><!--/Row-->  
                </div><!--/Column Submenu-->
      
                <div class="subtab-list col-md-10 col-sm-10" id="mainContent">

                </div><!--/ Column Subtab -->            
            </div><!--/ Price Content -->

          </div>
          <!--/ Main Menu Tab List -->

        </div><!--/ Row -->
      </div>
    </div>
</section>

